/* Banner */
.banner {
  z-index: -1;
}
/* Banner End */

/* Search Tab */
.tabs {
  border: 1px solid #ddd;
  background-color: rgba(254, 252, 252, 0.8);
}
.tab-button.active {
  border-bottom: black solid 1px;
}
.tab-pane {
  display: none;
  padding: 20px;
}
.tab-pane.active {
  display: block;
}
/* Search Tab End */

