/* Search Tab */
.tabs {
  border: 1px solid #ddd;
  background-color: rgba(30, 33, 89, 0.1);
}
.tab-button.active {
  background: rgba(56, 133, 210, 0.2);
  border-bottom: black solid 1px;
}
.tab-pane {
  display: none;
  padding: 20px;
}
.tab-pane.active {
  display: block;
}
/* Search Tab End */

/* Notice, Message &( Calender & info) Section */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 10px;
}
/* Media query for medium screens and smaller */
@media (max-width: 820px) {
  .grid-container {
    grid-template-columns: 1fr; /* Single column for medium screens and smaller */
  }
}
/* Notice, Message &( Calender & info) Section End .........................................*/

/* A-Z Database Start ......................................... */
.A-Z-database-parent {
  width: 50%;
}

.A-Z-database a:hover {
 font-size: larger;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  /* CSS rules for medium screens */
  .A-Z-database-parent {
    width: 60%;
  }
}
@media screen and (max-width: 767px) {
  /* CSS rules for small screens */
  .A-Z-database-parent {
    width: 100%;
  }
  .A-Z-database-parent {
    min-height: 400px;
  }
}

/* A-Z Database End ......................................... */


/* Calender Start .........................................*/
.wrapper {
  margin: 10px auto;
  max-width: 278px;
}

.container-calendar {
  background: #ffffff;
  padding: 10px;
  margin: 0 auto;
  overflow: auto;
}

.button-container-calendar button {
  cursor: pointer;
  display: inline-block;
  zoom: 1;
  background: #591e1e;
  color: #fff;
  border: 1px solid #401515;
  border-radius: 4px;
  padding: 5px 10px;
}

.table-calendar {
  border-collapse: collapse;
  width: 100%;
}

.table-calendar td,
.table-calendar th {
  padding: 3px;
  border: 1px solid rgba(30, 33, 89, 0.1);
  text-align: center;
  vertical-align: top;
}

.date-picker.selected {
  font-weight: bold;
  outline: 1px dashed #00bcd4;
}

.date-picker.selected span {
  border-bottom: 2px solid currentColor;
}

/* friday, saturday */
.date-picker:nth-child(6), .date-picker:nth-child(7) {
  color: red;
}

#monthAndYear {
  text-align: center;
  margin-top: 0;
}

.button-container-calendar {
  position: relative;
  margin-bottom: 1em;
  overflow: hidden;
  clear: both;
}

#previous {
  float: left;
}

#next {
  float: right;
}

.footer-container-calendar {
  margin-top: 1em;
  border-top: 1px solid #dadada;
  padding: 10px 0;
}

.footer-container-calendar select {
  cursor: pointer;
  display: inline-block;
  zoom: 1;
  background: #ffffff;
  color: #585858;
  border: 1px solid #bfc5c5;
  border-radius: 3px;
  padding: 3px 1em;
}
/* Calender End ......................................... */

/* E-Books ......................................... */
.image-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.image-container img {
  display: inline-block;
  vertical-align: middle;
  animation: slideLeft 15s linear infinite;
}

.EbookHR {
  border: #591e1e solid 5px;
}

@keyframes slideLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
/* E-Books End*/

/* services ....................................................... */
.services {
  background-image: url("https://imgmedia.lbb.in/media/2020/03/5e6fa0adcdf431136ea4aeb9_1584373933388.jpg");
}

.services .Content {
  background-color: #591e1e;
  border-radius: 2%;
  opacity: 0.9;
}
.services .Content h3 {
  color: white;
}

.services .Content a {
  color: white;
  border: solid 3px #370000;
  margin: 10px 20px;
}

/* services End ....................................................... */
